<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
</head>

<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
</div>
<form th:action="@{/user/getUser}" method="GET">
    查找用户：<input type="text" name="name">
    <input type="submit" value="搜索">
</form>

<div class="layui-card-header">
    <button><a href="/user/adduser">升职申请</a></button>
</div>
<div class="layui-card-body ">
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th>序号</th>
            <th>账号id</th>
            <th>部门id</th>
            <th>部门名称</th>
            <th>职位id</th>
            <th>职位名称</th>
            <th>姓名</th>
            <th>性别</th>
            <th>入职时间</th>
            <th>变动类型</th>
            <th>手机号</th>
            <th>备注</th>
            <th>操作</th>
        </thead>
        <tbody>
        <tr th:each="user,infoStat : ${pageInfo.list}">
            <td th:text="${user.post_change_key}"></td>
            <td th:text="${user.emp_id}"></td>
            <td th:text="${user.dept_id}"></td>
            <td th:text="${user.dept_name}"></td>
            <td th:text="${user.post_id}"></td>
            <td th:text="${user.post_name}"></td>
            <td th:text="${user.emp_name}"></td>
            <td th:text="${user.emp_sex}"></td>
            <td th:text="${user.emp_entry_time}"></td>
            <td th:text="${user.change_type}"></td>
            <td th:text="${user.emp_phone_number}"></td>
            <td></td>
            <td>
                <a th:href="@{/user/finduser(id=${user.emp_id})}">
                    <button class="layui-btn">修改</button>
                </a>
                <a th:href="@{/user/deluser(id=${user.emp_id})}">
                    <button class="layui-btn layui-btn-danger"><i class="layui-icon"></i>删除</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span
            th:text="${pageInfo.total}"></span> 条记录</p>
    <a th:href="@{/user/userList}">首页</a>
    <a th:href="@{/user/userList(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/user/userList(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    <a th:href="@{/user/userList(pageNum=${pageInfo.pages})}">尾页</a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>